doctype html
html
    head
        include head
            
    body
        h1#brand Figure
        .container
            #lead.row
            #budgets.row
            #transactions.row
        #growth.container.row
        
    include scripts