doctype html
html
    head
        include head
            
    body.container
        #message
        #lead.row
        #budgets.row
        #alerts
        #cashflow.row
        #transactions.row
        #growth.row
        #properties
        
    include scripts